<%= link_to 'Delete cookies', request.original_url, id: 'delete-cookies', data: { done: 'Cookies have been deleted' }, class: 'btn btn-primary' %>

<% Faker::Lorem.paragraphs(80).each do |paragraph| %>
  <p><%= paragraph %></p>
<% end %>
