/* ===========
   Cookies bar
   =========== */

/* Common */
#cookies-bar {
  border: 2px solid #000;
  border-bottom: none;
  background-color: #e6e6e6;

  a {
    color: #fff;
    background-color: #0b610b;
  }
}

/* Collapsed version */
@media (max-width: 767px) {
  .right-part {
    text-align: center;
    padding-bottom: 5px;

    a {
      width: 80%;
    }
  }
}

/* Large version */
@media (min-width: 768px) {
  #cookies-bar {
    width: 80%;
    max-width: 950px;
    margin: 0 auto;
    padding: 5px;

    .left-part {
      width: 90%;
      float: left;
    }

    .right-part {
      width: 10%;
      float: right;
      padding-top: 2px;
      text-align: right;
    }
  }
}
